<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cognito Flask Auth</title>
</head>
<body>
    <h1>Cognito Flask Auth</h1>
    <p>This is the login page.</p>
    <div>
        <input type="text">
    </div>
    <div>
        <input type="text">
    </div>
        <span>
            <a href="/registration">
                <button>Register new account</button>
            </a>
        </span>
        <span>
            <button>Login</button>
        </span>
    </div>
</body>
</html>
