<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask App</title>
</head>
<body>
    <h1>Cognito Flask Auth</h1>
    <p>Fill in details to register account.</p>
    <div>
        <input id="firstName" type="text" placeholder="First Name">
    </div>
    <div>
        <input id="lastName" type="text" placeholder="Last Name">
    </div>
    <div>
        <input id="email" type="text" placeholder="email">
    </div>
        <span>
            <a href="/">
                <button>Cancel</button>
            </a>
        </span>
        <span>
            <button>Register Account</button>
        </span>
    </div>
</body>
</html>
